.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/thinking.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.jumbotron-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 20%;
    right: 70%;
    transform: translate(-50%, -50%);
    color: white;
}

.intro {
  margin-bottom: 50px;
  text-align: center;
}

.intro p {
  font-size: 16px;
}

.intro button {
  background-color: #555555;
  color: white;
  font-size: 24px;
  padding: 14px 40px;
}

.intro button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.intro button:hover {
    background-color: white;
    color: black;
}

.card-title {
  font-size: 16px;
}

.card .btn {
  background-color: black;
  color: white;
  margin-left: 30px;
}

#hangman-image {
  float: left;
}

#you-win img #happy-monkey {
  height: 300px;
  width: 300px;
}

#you-win {
  display: none;
}

#you-lose {
  display: none;
}

#guesses-remaining {
  font-size: 24px;
}

#current-word {
  font-size: 24px;
}

#wrong-guesses {
  font-size: 24px;
}
